# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Logs
*.log

# Byte-compiled files
*.py[cod]

# Cache
.cache/
*.egg-info/
dist/
build/

# VSCode settings
.vscode/
